.additional-goods__title {
  font-size: 24px;
  line-height: 24px;

  padding-right: 20px;

  margin-bottom: 35px;

  background-color: $basic_white;

  width: max-content;
}

.additional-goods__list {
  list-style: none;

  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.additional-goods__item {
  display: grid;

  border-top: 1px solid #CDCDCD;

  margin-bottom: 19px;
  padding-top: 9px;

  &:last-child {
    border-bottom: 1px solid #CDCDCD;

    margin-bottom: 0;
    padding-bottom: 19px;
  }
}

.additional-goods__column-table {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-goods__title-table {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $special_dark-grey-2;
  text-transform: uppercase;
}

.additional-goods__cell-table {
  font-size: 14px;
  line-height: 14px;

  padding-top: 10px;
  padding-bottom: 10px;

  &:last-child {
    text-align: right;
  }
}

.additional-goods__present {
  min-height: 290px;

  background-image: url(../../img/gift-photo-mobile.png);
  background-repeat: no-repeat;


  display: flex;

  position: relative;

  margin-bottom: 35px;

  &::before {
    content: "";

    position: absolute;
    top: 35px;
    right: 50%;
    transform: translate(50%, 0);

    background-image: url(../../img/icon_gift.svg);
    background-repeat: no-repeat;

    width: 78px;
    height: 80px;
  }
}

.additional-goods__present-text {
  font-size: 16px;
  line-height: 20px;
  color: $basic_white;

  padding: 0;

  width: 160px;

  text-align: center;

  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .additional-goods__list {
    margin-bottom: 70px;
  }

  .additional-goods__item {
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .additional-goods__title {
    font-size: 36px;
    line-height: 36px;

    padding-left: 20px;

    margin-left: -20px;
  }

  .additional-goods__compound-table {
    margin-bottom: 20px;
  }

  .additional-goods__compound-table tbody {
    display: flex;
    justify-content: space-between;
  }

  .additional-goods__title-table {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-goods__cell-table {
    font-size: 16px;
    line-height: 20px;

    padding: 0;

    &:last-child {
      padding-left: 50px;
    }
  }

  .additional-goods__present {
    min-height: 200px;

    background-image: url(../../img/gift-photo-tablet.png);

    margin-bottom: 75px;

    &::before {
      right: auto;
      left: 160px;
      top: 50%;
      transform: translate(0, -50%);

      background-size: 80px, 82px;

      width: 80px;
      height: 82px;
    }
  }

  .additional-goods__present-text {
    margin: 0;
    margin-left: auto;
    margin-right: 120px;

    align-self: center;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    grid-column-gap: 80px;
  }

  .additional-goods__list {
    grid-column: 1 / 4;
  }

  .additional-goods__item {
    display: grid;
    grid-template-columns: repeat(3, 245px);
    grid-gap: 80px;
  }

  .additional-goods__compound-table {
    grid-column: 1 / 3;

    margin-bottom: 0;
  }


  .additional-goods__button {
    grid-column: 3;
  }
}
