.button {
  display: block;
  padding: 11px 20px;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $basic_white;
  text-transform: uppercase;

  border: none;

  background-color: $basic_green;

  cursor: pointer;

  &:hover {
    background-color: $basic_green-2;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .button {
    padding: 13px 30px;
  }
}
