.footer {
  background-color: $basic_grey;
}

.footer__wrapper {
  display: grid;
  grid-template-rows: 96px 63px 80px;
}

.footer__logo {
  justify-self: center;
  align-self: center;

  cursor: default;

  &--active {

    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.footer__social-list {
  display: flex;
}

.footer__html-academy-link-wrapper {
  align-self: center;

  margin: 0;
}

.footer__html-academy-link {
  font-size: 16px;
  color: $special_dark-grey;

  margin: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;


  &:hover svg {
    stroke: $basic_green;
  }

  &:active {
    opacity: 0.3;
    stroke: $basic_green;
  }
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;

    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer__html-academy-link-text {
    margin: 0;

    padding-right: 30px;
  }

  .footer__html-academy-link-icon {
    display: flex;
  }
}
