.info {
  background-color: $basic-grey;
}

.info__main {
  background-color: $basic_white;
}

.info__wrapper {
  display: flex;
  justify-content: space-between;

  min-height: 115px;

  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.info__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $special_dlack;
  text-transform: uppercase;

  margin: 0;

  align-self: center;
}

.info__adress {
  font-size: 14px;
  line-height: 20px;

  margin: 0;

  align-self: center;
}

.info__map {
  height: 362px;
}

@media (min-width: $tablet-width) {
  .info__wrapper {
    padding: 70px;
  }

  .info__text {
    font-size: 20px;
    line-height: 21px;
  }

  .info__adress {
    font-size: 16px;
  }

  .info__map {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .info__wrapper {
    display: none;
  }
}
