.main__title {
  color: $basic_black;
}

.main__present-text {
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $desktop-width) {
  .main__additional-goods {
    margin-bottom: 85px;
  }
}
