.page__body {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  margin: 0;

  min-width: 320px;
}

.page__wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  min-height: 100%;
}

@media (min-width: $tablet-width) {
  .page__body {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .page__wrapper-background {
    background-image: url(../../img/index-background-desktop-cat.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: auto 731px;

    @media (min-resolution: 2dppx) {
      background-image: url(../../img/index-background-desktop-cat@2x.png);
    }
  }
}
