.promo {
  color: $basic_white;

  border-color: $basic_green;
  background-image: url(../../img/index-background-mobile-cat.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  min-height: 480px;

  padding-top: 25px;
  margin-bottom: 20px;

  background-image: url(../../img/index-cat-energy-mobile.png);
  background-repeat: no-repeat;
  background-position: center 80%;

  @media (min-resolution: 2dppx) {
    background-image: url(../../img/index-cat-energy-mobile@2x.png);
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;

  margin-bottom: 25px;
}

.promo__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  margin: 0;
}

.promo__button {
  width: 280px;

  align-self: center;

  margin-top: auto;

  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .promo {
    color: $basic_black;

    background-color: $basic_white;
    background-image: none;
  }

  .promo__wrapper {
    text-align: left;
    justify-content: flex-start;

    min-height: 870px;

    padding-top: 60px;
    padding-bottom: 545px;
    padding-left: 85px;
    margin-bottom: 0;

    background-image: url(../../img/index-cat-energy-tablet.png);
    background-position: 0% 94%;

    @media (min-resolution: 2dppx) {
      background-image: url(../../img/index-cat-energy-tablet@2x.png);
    }
  }

  .promo__title {
    font-size: 60px;
    line-height: 60px;

    margin-bottom: 40px;
  }

  .promo__text {
    font-size: 20px;
    line-height: 20px;

    margin-bottom: 45px;
  }

  .promo__button {
    font-size: 20px;
    line-height: 20px;

    padding: 15px 20px;

    margin-top: 0;

    width: 244px;

    align-self: start;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(104, 183, 56, 0.85) 50%);
  }

  .promo__wrapper {
    min-height: 607px;

    padding-top: 110px;
    padding-bottom: 180px;
    padding-left: 190px;
    padding-right: 770px;

    margin-bottom: 80px;

    background-image: url(../../img/index-cat-energy-desktop.png);
    background-position: 63% 13%;

    @media (min-resolution: 2dppx) {
      background-image: url(../../img/index-cat-energy-desktop@2x.png);
    }
  }
}
