.social-list {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}

.social-list__item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}


.social-list__item-link {
  display: flex;

  &:hover svg {
    stroke: $basic_green;
  }

  &:active {
    stroke: $basic_green;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social-list {
    border: none;
  }
}
