.title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  font-weight: normal;

  margin: 0;
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 60px;
    line-height: 60px;
  }
}
