// Colors

$special_dark-grey:#444444;
$special_dark-grey-2:#222222;
$special_dark-grey-3: #EAEAEA;
$basic_black: #000000;
$special_dlack:#111111;
$basic_green: #68B738;
$basic_green-2: #5EAA2F;
$basic_white: #FFFFFF;
$basic_grey: #F2F2F2;
$special_grey: #EBEBEB;

// Viewports

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
